@model ENCUESTAS.encuestas

<form id="formCrearEncuesta" method="post">
    <table>
        <tr>
            <td>
                @Html.DropDownList("areaList", new SelectList(ViewBag.areas, "id", "area"), "-- Seleccione un area --")
            </td>

            <td>
                Tipo de dispositivo
            </td>
            <td>
                @Html.EditorFor(Model => Model.dispositivo, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="formButton" value="Create" class="btn btn-default" />
            </td>
        </tr>
    </table>
</form>

<h3>Encuestas encontradas:</h3>

<ul id="listaEncuesta">
    @foreach (var encuesta in ViewBag.encuestas)
    {
        <li>
            @{ 
                var area = ((List<ENCUESTAS.areas>)ViewBag.Areas).FirstOrDefault(a => a.id == encuesta.idArea);
            }
            <!-- <div>Tipo de dispositivo: encuesta.dispositivo <br /> Area: ViewBag.areas[encuesta.idArea - 1].area</div>-->
            <div>Tipo de dispositivo: @encuesta.dispositivo <br /> Area: @area.area</div>
        </li>
    }
</ul>

<script>
    $("#formCrearEncuesta").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/Encuestas/Create",
            type: "POST",
            data: $("#formCrearEncuesta").serialize(),
            success: function (data) {
                $("#listaEncuesta").append('<li><div>Tipo de dispositivo:'+data.dispositivo+'<br/> Area:'+data.area+'</div></li>');
            }
        });
    });
</script>